body{background :#222;
color:#f5409d;}
.padding{margin-top: 3rem;}
.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #00C853, #B2FF59); 
}
.btn{  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
button{background-color: orange;}